html {
    scroll-snap-type: y mandatory; 
    overflow-y: scroll;
}

body {
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
}

/* Additional Shortcut Sizes */

.twenty_w {
    width: 5%;
    flex: 0 0 auto;
}
.fifteen_w {
    width: 6.6%;
    flex: 0 0 auto;
}
.ten_w {
    width: 10%;
    flex: 0 0 auto;
}
.nine_w {
    width: 11.1%;
    flex: 0 0 auto;
}
.eight_w {
    width: 12.5%;
    flex: 0 0 auto;
}
.seven_w {
    width: 14.2%;
    flex: 0 0 auto;
}
.five_w {
    width: 20%;
    flex: 0 0 auto;
}

/* Transitions */

.move_up {
    transition: 0.1s;
}
.move_up:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}
.move_down {
    transition: 0.1s;
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}
.move_down:hover {
    transform: translateY(0px);
    box-shadow: 0 0px 0px transparent;
}
.rotate {
    transition: 0.1s;
}
.rotate:hover {
    transform: rotate(10deg);
    scale: 1.05;
}
.scale_up {
    transition: 0.1s;
}
.scale_up:hover{
    transform: scale(1.1);
}
.scale_down {
    transition: 0.1s;
}
.scale_down:hover {
    transform: scale(0.9);
}
.glow {
    transition: 0.1s;
}
.glow:hover {
    box-shadow: 0 0px 10px 10px var(--c2);
    scale: 1.05;
}
.spin > img {
    transition: 0.35s;
    transform: rotateY(180deg);
}
.spin:hover > img {
    transform: rotateY(0deg);
}
.bg-white > .text-white, .text-white.bg-white {
    color: #000 !important;
}

/* Clock */

.clock {
    font-size: calc(1.375rem + 1.5vw * 2.5) !important;
    text-align: center;
    white-space: nowrap;
}
