
/* Add glow to bootstrap colors */

.bg-primary {
    --glow-clr: #00f;
}
.bg-danger {
    --glow-clr: #f00;
}
.bg-warning {
    --glow-clr: #ff0;
}
.bg-success {
    --glow-clr: #0a0;
}
.bg-dark {
    --glow-clr: #222;
}
.bg-black {
    --glow-clr: #000;
}
.bg-transparent {
    --glow-clr: #777;
}
.bg-white {
    --glow-clr: #fff;
}

/* Custom color classes that are not included with bootstrap */

.bg-orange { 
    --glow-clr: #f70; 
}
.bg-aqua { 
    --glow-clr: #0fa; 
}
.bg-violet { 
    --glow-clr: #80f; 
}
.bg-scarletred { 
    --glow-clr: #f20; 
}
.bg-lime { 
    --glow-clr: #3d3; 
}
.bg-navyblue { 
    --glow-clr: #008; 
}
.bg-gray { 
    --glow-clr: #888; 
}

.bg-orange, .bg-aqua, .bg-violet, 
.bg-scarletred, .bg-lime, .bg-navyblue, .bg-gray {
    background-color: var(--glow-clr) !important;
}

/* Make these compatible with the clock and firefox logo */

.bg-primary.color-text, .bg-danger.color-text, .bg-warning.color-text, 
.bg-success.color-text, .bg-dark.color-text, .bg-black.color-text, 
.bg-transparent.color-text, .bg-white.color-text, .bg-orange.color-text, 
.bg-aqua.color-text, .bg-violet.color-text, .bg-scarletred.color-text, 
.bg-lime.color-text, .bg-navyblue.color-text, .bg-gray.color-text {
    background-color: transparent !important;
    color: var(--glow-clr) !important;
}